<div class="col-lg-4">
  <h2>Song Plays per Artist</h2>
  <table class='table table-hover'>
    <tr>
      <td><strong>Artist</td>
      <td><strong>Song Plays</td>
    </tr>
    <% Counter.artist_play_count(@all_songs).first(50).each do |artist,plays| %>
    <td class="text-success"><%= artist %></td>
    <td class="text-success"><%= plays %></td>
  </tr>
  <% end %>
</table>
</div>
