<div class="col-lg-4">
  <h2>Songs by Year</h2>
  <table class='table table-hover'>
    <tr>
      <td><strong>Year</td>
      <td><strong>Count</td>
    </tr>
    <% Counter.song_by_year(@all_songs).each do |year, year_ct| %>
      <tr>
        <td class="text-info"><%= year %></td>
        <td class="text-info"><%=  year_ct %></td>
      </tr>
    <% end %>
  </table>
</div>
