<h1 class="text-center">iTunes Stats!</h1>
<p>This is a little app that will analyze your iTunes library play data and output some interesting stats. I hope to be adding new metrics every once in a while, and if there's something you think would be cool feel free to
<a href="mailto:travis.lawrence12@gmail.com">email me</a>.
</p>
<small>Note: Any uploaded data is only used to create the statistics below. Nothing is saved.</small>
