<h1>iTunes Stats!</h1>
<p>This is a little app that will analyze your iTunes library play data and output some interesting stats. I originally got this idea from SuperAnalyzer by NoSleep Software and I realized there wasn't something like this on the web. I hope to be adding new metrics every once in a while, and if there's something you think would be cool feel free to
<a href="mailto:travis.lawrence12@gmail.com">email me</a>.
</p>
<p>Note: There is no database for this app and therefore any uploaded data is used only to create the statistics below.</p>
