<div class="col-lg-4">
  <h2>Songs by Artists</h2>
  <p>You should see a table with all the artists in your library and a count of tracks for each.</p>
  <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
</div>
