<div class="col-lg-4">
  <h2>Upload your iTunes XML File</h2>
  <form name="xml_upload" action="/upload" method="post" enctype="multipart/form-data">
    <p><input type="file" name="itunes_file"></p>
    <p><input type="submit" value="Upload!"></p>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>Don't have your XML file handy? Click here to see a demo result.</p>
  <form name="xml_upload" action="/upload" method="post">
    <p><input type="hidden" name="demo"></p>
    <p><input type="submit" value="Demo Upload!"></p>
  </form>
</div>
